<img id="homeBanner" src="assets/banner.png" alt="Home Banner"/>
<div class="contentContainer">
  <p><span style="font-size: 1.5vw">Today</span>,
    <span style="font-size: 1.3vw">millions of textual</span>
    <span style="font-size: 1.1vw"> data flow into the Internet</span>
    <span style="font-size: 0.9vw"> every second</span> in the form of emails, comments, product feedback, or social media chats.
    For companies, there is a huge potential for innovation in this data sets in order to advance their economic or even technological benefits.
    But nowadays, manually analyzing such an amount of text data is not worth it and a waste of time.
    This is when the possibilities of
    <span style="background-color: green;padding-left: 2px;padding-right: 2px;">AI</span>,
    <span style="background-color: darkred;padding-left: 2px;padding-right: 2px;">data mining</span> or
    <span style="background-color: darkorchid;padding-left: 2px;padding-right: 2px;">text analysis</span> come into play.</p>
  <p>In the context of this application, I would like to present a small part of the possibilities provided by text analysis.
    The application will briefly talk about
    <a href="http://localhost:4200/python">Python</a> and
    <a href="http://localhost:4200/sap">SAP HANA</a> environments,
    <a href="http://localhost:4200/text-analysis">business opportunities</a> and
    <a href="http://localhost:4200/data-visualization">data visualization</a>.</p>
</div>
<mat-divider></mat-divider>
<div class="contentContainer">
  <h2>What is Text Analysis?</h2>
  <img id="homeOne" src="assets/home_01.png" alt="What is Text Analysis?"/>
  <p>Text analysis is a machine learning technique that allows us to extract specific information from a text, such as keywords, names, or company information.
    We can even use it to categorize different emails or comments by topic or sentiment.</p>
  <p>This method provides qualitative results, so it identifies important information from the text itself.
    Take, for example, the database that the application uses.
    We can categorize comments received for podcast channels based on words with positive or negative emotion.
    Basically, the challenge in text analysis is decoding the ambiguity of human language.</p>
  <div class="quote"><i>"If you torture the data long enough, it will confess to anything."</i> - Ronald H. Coase</div>
</div>
<mat-divider></mat-divider>
<div class="contentContainer">
  <h2>Why Text Analysis?</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>
<mat-divider></mat-divider>
<div class="contentContainer">
  <h2>Methods & Techniques</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>
<mat-divider></mat-divider>
<div class="contentContainer">
  <h2>How does it work?</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>
<mat-divider></mat-divider>
<div class="contentContainer">
  <h2>Usecases</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>
<mat-divider></mat-divider>
<div class="contentContainer">
  <h2>Resources</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>
