#homeBanner {
  margin-top: 5vh;
  margin-left: 10%;
  width: 80%;
  height: auto;
}

mat-divider {
  width: 80%;
  margin-left: 10%;
  background-color: #1E90FF;
}

.contentContainer {
  width: 50%;
  margin-left: 25%;

  margin-top: 5vh;
  margin-bottom: 5vh;

  color: white;
  font-size: 0.85vw;
}

a {
  text-decoration: none;
  color: #ffdb4d;
}

#homeOne {
  width: 100%;
  height: auto;
}

.quote {
  width: 100%;
  margin-top: 5vh;
  font-size: 0.9vw;
  text-align: center;
}

ul {
  list-style: none;
}

.mat-raised-button {
  background-color: #1E90FF;
  line-height: 30px;
  min-width: 50px;
  margin-left: 5px;
}

.predictResult {
  margin-left: 45%;
  width: 10%;
  text-align: center;
  background-color: #1E90FF;
  padding: 5px;
  border-radius: 5px;
}

::ng-deep .mat-progress-bar-background {
  fill: #1E90FF !important;
}

ul li:before {
  content: "\2022";
  color: #1E90FF;
  display: inline-block;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
  padding-bottom: 2px;
}

#homeTwo {
  width: 100%;
  height: auto;
}

.listDescription li:before {
  color: #ffdb4d;
}

#homeThree {
  width: 100%;
  height: auto;
}

#homeFour {
  width: 100%;
  height: auto;
}
