/* COMMON STYLES */
.container {
  width: 80%;
  margin-left: 10%;
}

.headers {
  margin-left: 20px;
  margin-right: 300px;
  color: white;
}

p {
  line-height: 25px;
  font-size: 0.85vw;
}

a {
  text-decoration: none;
  color: #ffdb4d;
}

::ng-deep .mat-ink-bar {
  background-color: #ffdb4d !important;
}

mat-spinner {
  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -50px;
  margin-top: -125px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ffdb4d!important;
}

/* TABLES SECTION */
.tablesContainer {
  margin-top: 50px;
  width: 100%;
  height: 700px;
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 4px;
}

.tablesContent {
  width: 95%;
  margin-left: 2.5%;
}

.tableContainer {
  overflow: auto;
  height: 350px;
}

.tableDescription {
  margin-right: 200px;
  color: white;
}

tr.element-row:not(.expanded-row):hover {
  background: rgb(245,245,245,0.2);
}

tr.element-row:not(.expanded-row):active {
  background: rgb(245,245,245,0.2);
}

.element-row td {
  border-bottom-width: 0;
}

.element-content {
  overflow: hidden;
  display: flex;
}

.content {
  padding: 20px;
}

/* WORLD CLOUD SECTION */
.wordCloud {
  margin-top: 50px;
  width: 100%;
  height: 800px;
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 4px;
}

.wc-card {
  width: 95%;
  height: 90%;
  padding-bottom: 30px;
}

/* PODCASTS */
.podcastViewer {
  margin-top: 50px;
  width: 100%;
  height: 800px;
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 4px;
}

mat-horizontal-stepper {
  width: 95%;
  margin-left: 2.5%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

mat-label {
  color: white;
}

input {
  color: white;
}

.iconWhite {
  color: white;
}

mat-selection-list {
  max-height: 450px;
  overflow-y: auto;
}

