.chip {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: white;
}

h1, h2, h3, h4, h5, h6, i {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffdb4d;
}

ul {
  list-style: none;
}

ul li:before {
  content: "\2022";
  color: #0d6efd;
  display: inline-block;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
  padding-bottom: 2px;
}

li {
  background-color: transparent;
}

/* Source Data */
::ng-deep .mat-tab-label {
  color: black!important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #0d6efd!important;
}

::ng-deep .mat-tab-body-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0d6efd;
}

::ng-deep .mat-progress-bar-buffer {
  background: white;
}

.table-container {
  max-height: 350px;
  overflow: auto;
}

.mat-table, .mat-paginator {
  background: #212529;
}

th, td {
  color: white;
}
/* Detail Table Row */
tr.element-row:not(.expanded-row):hover {
  background: rgb(245,245,245,0.2);
}

tr.element-row:not(.expanded-row):active {
  background: rgb(245,245,245,0.2);
}

.element-row td {
  border-bottom-width: 0;
}

.element-content {
  overflow: hidden;
  display: flex;
}

.content {
  padding: 20px;
}

/* Podcasts */
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #0d6efd!important;
  color: white!important;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
  color: black!important;
}

::ng-deep .mat-step-header .mat-step-label {
  color: black!important;
}

::ng-deep .mat-stepper-horizontal-line {
  border-top-color: grey;
}

::ng-deep .mat-step-header .mat-step-icon {
  color: black;
  background-color: lightgrey;
}

.mat-stepper-horizontal {
  background-color: white
}

.step-container {
  height: 450px;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0d6efd!important;
}

::ng-deep mat-selection-list {
  height: 350px;
  overflow: auto;
}

::ng-deep mat-list-option {
  color: black !important;
}

::ng-deep .mat-list-option:hover {
  background: rgb(245,245,245,0.8)!important;
}

.review-table-container {
  height: 300px;
  overflow: auto;
  margin-bottom: 5px;
}
