<!-- Banner -->
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" style="margin-top: 3vh">
  <div class="col-md-10 px-0">
    <h1 class="display-4 fst-italic">Data Visualization</h1>
    <p class="lead my-3">Data visualization is the <span class="chip" style="background-color: crimson">graphical representation</span>
      of information and data.
      By using <span class="chip" style="background-color: darkcyan">visual elements</span> like charts, graphs, and
      maps,
      data visualization tools provide an accessible way to see and understand trends,
      outliers, and patterns in data.</p>
  </div>
</div>

<!-- Home Button -->
<div class="row mb-4">
  <div class="col-md-12">
    <a routerLink="/home" type="button" class="btn btn-outline-primary btn-sm" (click)="activeLink()"><i
      class="bi bi-arrow-left"></i> Back to Home</a>
  </div>
</div>


<div class="row mb-4">

  <div class="col-md-9 mb-5">

    <!-- Header -->
    <h3 class="pb-4 mb-4 fst-italic border-bottom">Data Visualization</h3>

    <article class="blog-post mb-4"><!-- Blog-Post -->
      <h2 class="blog-post-title" id="sourceData">Source Data</h2>
      <p class="blog-post-meta"><i class="bi bi-calendar"></i> March 17, 2021</p>
      <p *ngIf="!showArticle01">In this section, I would like to present the source data.</p>
      <p *ngIf="!showArticle01">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="loadTables()"><i
          class="bi bi-arrow-90deg-down"></i> Continue reading
        </button>
      </p>
      <div *ngIf="showArticle01">
        <p></p>
        <p>In this section, I would like to present the <span class="chip"
                                                              style="background-color: crimson">source data</span>,
          which I will use later for text analysis.
          The data set consists of 4 tables, which can be viewed in more detail below.
          The public data set is also available at the following link:
          <a href="https://www.kaggle.com/thoughtvector/podcastreviews" target="_blank">Podcast Reviews</a>.</p>
        <p></p>
        <h4>Tables</h4>
        <p></p>
        <div class="border rounded shadow-sm p-2 bg-white mb-3">
          <mat-tab-group (click)="getActiveMatTab()">
            <mat-tab label="Categories" [disabled]="tablesLoading">
              <mat-progress-bar mode="indeterminate" *ngIf="tablesLoading"></mat-progress-bar>
              <div class="table-container">
                <table mat-table [dataSource]="categoriesSource" *ngIf="!tablesLoading" class="mat-elevation-z8"
                       style="width: 100%">

                  <ng-container matColumnDef="podcastId">
                    <th mat-header-cell *matHeaderCellDef style="width: 50%;"> Podcast ID</th>
                    <td mat-cell *matCellDef="let element" style="width: 50%;"> {{element.podcastId }} </td>
                  </ng-container>

                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef style="width: 50%;"> Category</th>
                    <td mat-cell *matCellDef="let element" style="width: 50%;"> {{element.category}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="categoriesColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: categoriesColumns;"></tr>
                </table>
              </div>
              <mat-paginator #categoriesPaginator [disabled]="tablesLoading" [length]="categoriesLength" [pageSize]="10"
                             showFirstLastButtons></mat-paginator>
            </mat-tab>
            <mat-tab label="Podcasts" [disabled]="tablesLoading">
              <div class="table-container">
                <table mat-table [dataSource]="podcastsSource" class="mat-elevation-z8" style="width: 100%">

                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef style="width: 35%;"> Title</th>
                    <td mat-cell *matCellDef="let element" style="width: 35%;"> {{element.title}} </td>
                  </ng-container>

                  <ng-container matColumnDef="slug">
                    <th mat-header-cell *matHeaderCellDef style="width: 35%;"> Slug</th>
                    <td mat-cell *matCellDef="let element" style="width: 35%;"> {{element.slug}} </td>
                  </ng-container>

                  <ng-container matColumnDef="itunesUrl">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> iTunes URL</th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;"><a href="{{element.itunesUrl}}"
                                                                                  target="_blank">
                      <mat-icon svgIcon="link"></mat-icon>
                    </a></td>
                  </ng-container>

                  <ng-container matColumnDef="itunesId">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> iTunes ID</th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.itunsId}} </td>
                  </ng-container>

                  <ng-container matColumnDef="podcastId">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Podcast ID</th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.podcastId | slice:0:5 }}...
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="podcastsColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: podcastsColumns;"></tr>
                </table>
              </div>
              <mat-paginator #podcastsPaginator [length]="podcastsLength" [pageSize]="25"
                             showFirstLastButtons></mat-paginator>
            </mat-tab>
            <mat-tab label="Reviews" [disabled]="tablesLoading">
              <div class="table-container">
                <table mat-table [dataSource]="reviewsSource" multiTemplateDataRows class="mat-elevation-z8"
                       style="width: 100%">
                  <ng-container matColumnDef="podcastId">
                    <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Podcast ID</th>
                    <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.podcastId | slice:0:5}}...
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Title</th>
                    <td mat-cell *matCellDef="let element" style="width: 40%;"> {{element.title}} </td>
                  </ng-container>
                  <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Rating</th>
                    <td mat-cell *matCellDef="let element" style="width: 15%;">
                  <span *ngIf="element.rating == 5" style="color: green"><mat-icon svgIcon="star"></mat-icon><mat-icon
                    svgIcon="star"></mat-icon><mat-icon svgIcon="star"></mat-icon><mat-icon svgIcon="star"></mat-icon><mat-icon
                    svgIcon="star"></mat-icon></span>
                      <span *ngIf="element.rating == 4" style="color: blue"><mat-icon svgIcon="star"></mat-icon><mat-icon
                        svgIcon="star"></mat-icon><mat-icon svgIcon="star"></mat-icon><mat-icon
                        svgIcon="star"></mat-icon></span>
                      <span *ngIf="element.rating == 3" style="color: yellow"><mat-icon svgIcon="star"></mat-icon><mat-icon
                        svgIcon="star"></mat-icon><mat-icon svgIcon="star"></mat-icon></span>
                      <span *ngIf="element.rating == 2" style="color: orange"><mat-icon svgIcon="star"></mat-icon><mat-icon
                        svgIcon="star"></mat-icon></span>
                      <span *ngIf="element.rating == 1" style="color: red"><mat-icon svgIcon="star"></mat-icon></span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Created At</th>
                    <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.createdAt}} </td>
                  </ng-container>
                  <ng-container matColumnDef="content">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="reviewsColumns.length">
                      <div class="element-content"
                           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="content"> "{{element.content}}"</div>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="reviewsColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: reviewsColumns;" class="element-row"
                      [class.expanded-row]="expandedElement === row"
                      (click)="expandedElement = expandedElement === row ? null : row"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['content']" style="height: 0"></tr>
                </table>
              </div>
              <mat-paginator #reviewsPaginator [length]="reviewsLength" [pageSize]="25"
                             showFirstLastButtons></mat-paginator>
            </mat-tab>
            <mat-tab label="Runs" [disabled]="tablesLoading">
              <div class="table-container">
                <table mat-table [dataSource]="runsSource" class="mat-elevation-z8" style="width: 100%">

                  <ng-container matColumnDef="runAt">
                    <th mat-header-cell *matHeaderCellDef style="width: 33.3%;"> Run At</th>
                    <td mat-cell *matCellDef="let element" style="width: 33.3%;"> {{element.runAt}} </td>
                  </ng-container>

                  <ng-container matColumnDef="maxRowid">
                    <th mat-header-cell *matHeaderCellDef style="width: 33.3%;"> Max Rowid</th>
                    <td mat-cell *matCellDef="let element" style="width: 33.3%;"> {{element.maxRowid}} </td>
                  </ng-container>

                  <ng-container matColumnDef="reviewsAdded">
                    <th mat-header-cell *matHeaderCellDef style="width: 33.3%;"> Reviews Added</th>
                    <td mat-cell *matCellDef="let element" style="width: 33.3%;"> {{element.reviewsAdded}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="runsColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: runsColumns;"></tr>
                </table>
              </div>
              <mat-paginator #runsPaginator [disabled]="tablesLoading" [length]="runsLength" [pageSize]="10"
                             showFirstLastButtons></mat-paginator>
            </mat-tab>
          </mat-tab-group>
        </div>
        <h4>Descriptions</h4>
        <p *ngIf="categoriesTableActive">The category table shows the <strong>(genre / category)</strong> in which a
          particular podcast channel
          produces.
          In this case, the podcast channels are marked with an <strong>ID</strong>.
          The table contains much more data <strong>(70.945 rows)</strong>, than what we show,
          but for simplicity, we only queried the different categories to which we assigned the very first ID.</p>
        <p *ngIf="podcastsTableActive">The podcast table shows all the information about a particular podcast channel
          <strong>(Title, Slug, URL, IDs).</strong> You can browse through many podcasts,
          but for performance reasons, we only loaded <strong>the first 100 rows.</strong>
          Later on you will be able to query every podcast channel from the data set, which contains altogether
          <strong>46659</strong> rows.</p>
        <p *ngIf="reviewsTableActive">The reviews table contains the most data, with exactly <strong>1.148.214</strong>
          rows.
          This includes (feedbacks / reviews) from iTunes Podcast users about each podcast channel.
          One row consists the <strong>podcast ID</strong>, the <strong>title and content</strong> of the review,
          the <strong>5-star rating</strong> and the <strong>creation date</strong>.
          For performance reasons we only loaded the first 100 rows of the data set. Have fun reading the reviews
          by clicking on
          each row in the table.</p>
        <p *ngIf="runsTableActive">The runs table shows us at what times the publicly available data set was updated
          with additional data.
          You can see that the last modification date is January 2021, and I am using that state of the database.
          Newer versions may already exist, but they can be solved with a simple replacement.
          It may be interesting to look at the <strong>reviews added</strong> column and add the rows to get the
          number of reviews in the dataset.</p>
        <p style="text-align: right;">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle01 = !showArticle01"><i
            class="bi bi-arrow-90deg-up"></i> Close
          </button>
        </p>
      </div>
    </article><!-- Source Data -->

    <hr>

    <article class="blog-post mb-4"><!-- Blog-Post -->
      <h2 class="blog-post-title" id="podcasts">Podcasts</h2>
      <p class="blog-post-meta"><i class="bi bi-calendar"></i> April 05, 2021</p>
      <p *ngIf="!showArticle02">Here you can search for a specific Podcast channel and extract various information about
        it.</p>
      <p *ngIf="!showArticle02">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle02 = !showArticle02"><i
          class="bi bi-arrow-90deg-down"></i> Continue reading
        </button>
      </p>
      <div *ngIf="showArticle02">
        <p></p>
        <p>Here you can search for a specific Podcast channel and extract various information about it.
          For example, what comments belong to it or what categories it belongs to.
          Go ahead and search for a title with this stepper guide.</p>
        <p></p>
        <h4>Search Guide</h4>
        <p></p>
        <div class="border rounded p-2 shadow-sm bg-white mb-3">

          <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup" [editable]="true">
              <div class="step-container">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Search for a Title</ng-template>
                  <mat-form-field appearance="outline">
                    <mat-label>Podcast's Title</mat-label>
                    <input #title matInput formControlName="firstCtrl" required>
                  </mat-form-field>
                  <div>
                    <button mat-raised-button (click)="filter(title)" matStepperNext>Next</button>
                  </div>
                </form>
              </div>
            </mat-step>
            <mat-step [editable]="true">
              <div class="step-container">
                <ng-template matStepLabel>Select a Podcast</ng-template>
                <mat-selection-list #results [multiple]="false">
                  <mat-list-option *ngFor="let result of filterResult" [value]="result">
                    {{ result }}
                  </mat-list-option>
                </mat-selection-list>
                <p></p>
                <p>
                  <b>Podcast selected: </b> <span id="title">{{results.selectedOptions.selected[0]?.value}}</span>
                </p>
                <button mat-raised-button matStepperNext [disabled]="!results.selectedOptions.selected[0]?.value"
                        (click)="search()">Next
                </button>
              </div>
            </mat-step>
            <mat-step label="Podcast Data">
              <div class="step-container">
                <p style="margin-bottom: 0.5rem"><b>Podcast ID: </b>{{ searchResult.podcastId }}</p>
                <p style="margin-bottom: 0.5rem"><b>iTunes ID: </b>{{ searchResult.itunsId }}</p>
                <p style="margin-bottom: 0.5rem"><b>Title: </b>{{ searchResult.title }}</p>
                <p style="margin-bottom: 0.5rem"><b>Slug: </b>{{ searchResult.slug }}</p>
                <p style="margin-bottom: 0.5rem"><b>Link: </b><a href="{{searchResult.itunesUrl}}"
                                                                 target="_blank">{{ searchResult.itunesUrl }}</a></p>
                <p style="margin-bottom: 0.5rem"><b>Categories: </b><span
                  *ngFor="let category of searchCategories"> <span
                  class="chip" style="background-color: #0d6efd">{{ category }}</span>, </span></p>
                <div class="review-table-container">
                  <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Content</th>
                      <th scope="col">Rating</th>
                      <th scope="col">Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let review of searchReviews">
                      <th scope="row">{{ review.title }}</th>
                      <td>{{ review.content }}</td>
                      <td>{{ review.rating }}</td>
                      <td>{{ review.createdAt }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

        </div>
        <p style="text-align: right;">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle02 = !showArticle02"><i
            class="bi bi-arrow-90deg-up"></i> Close
          </button>
        </p>
      </div>
    </article><!-- Podcasts -->

    <hr>

    <article class="blog-post mb-4"><!-- Blog-Post -->
      <h2 class="blog-post-title" id="statistics">Statistics</h2>
      <p class="blog-post-meta"><i class="bi bi-calendar"></i> April 05, 2021</p>
      <p *ngIf="!showArticle03">Statistics is the discipline that concerns the collection, organization, analysis,
        interpretation, and presentation of data.</p>
      <p *ngIf="!showArticle03">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle03 = !showArticle03"><i
          class="bi bi-arrow-90deg-down"></i> Continue reading
        </button>
      </p>
      <div *ngIf="showArticle03">
        <p>Statistics is the discipline that concerns the collection, organization, analysis, interpretation, and <span
          class="chip" style="background-color: blueviolet">presentation of data</span>.
          In applying statistics to a scientific, industrial, or social problem, it is conventional to begin with a
          statistical population or a statistical model to be studied.
          For the sake of simplicity, I have now only brought tables which you can access by clicking on the links
          below.</p>
        <ul>
          <li>The most common and least common categories.
            <button type="button" class="btn btn-primary btn-sm" (click)="loadSumCategories()"><i
              class="bi bi-download"></i></button>
          </li>
          <li>Distribution of different star ratings.
            <button type="button" class="btn btn-primary btn-sm" (click)="loadSumRatings()"><i
              class="bi bi-download"></i></button>
          </li>
          <li>Annual average ratings.
            <button type="button" class="btn btn-primary btn-sm" (click)="loadAvgRatingsPerYear()"><i
              class="bi bi-download"></i></button>
          </li>
          <li>Average ratings for each category in descending order.
            <button type="button" class="btn btn-primary btn-sm" (click)="loadBestCategories()"><i
              class="bi bi-download"></i></button>
          </li>
        </ul>
        <h4>Table</h4>
        <p></p>
        <mat-progress-bar mode="indeterminate" *ngIf="statisticsLoading"></mat-progress-bar>
        <div *ngIf="showSumCategories" class="mb-2">
          <div class="table-container mb-3">
            <table class="table table-dark table-striped table-hover">
              <thead>
              <tr>
                <th scope="col" class="text-center" style="width: 50%">Category</th>
                <th scope="col" class="text-center" style="width: 50%">Sum <i class="bi bi-arrow-down"></i></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let sumCategory of sumCategories">
                <td class="text-center" style="width: 50%">{{ sumCategory[0] }}</td>
                <td class="text-center" style="width: 50%">{{ sumCategory[1] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center" *ngIf="pieChartDataFetched">
            <ngx-charts-pie-chart
              [view]="[700, 500]"
              [results]="pieChartData"
              [gradient]="true"
              [labels]="true"
              [maxLabelLength]="30"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
        <div *ngIf="showSumRatings" class="mb-2">
          <div class="table-container mb-3">
            <table class="table table-dark table-striped table-hover">
              <thead>
              <tr>
                <th scope="col" class="text-center" style="width: 50%">Rating <i class="bi bi-arrow-down"></i></th>
                <th scope="col" class="text-center" style="width: 50%">Sum</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let sumRating of sumRatings">
                <td class="text-center" style="width: 50%">{{ sumRating[0] }}</td>
                <td class="text-center" style="width: 50%">{{ sumRating[1] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center" *ngIf="verticalChartDataFetched">
            <ngx-charts-bar-vertical
              [view]="[500, 300]"
              [results]="verticalChartData"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Ratings by stars'"
              [yAxisLabel]="'Number of ratings'"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
        <div *ngIf="showAvgRatingsPerYear" class="mb-2">
          <div class="table-container mb-3">
            <table class="table table-dark table-striped table-hover">
              <thead>
              <tr>
                <th scope="col" class="text-center" style="width: 50%">Year <i class="bi bi-arrow-up"></i></th>
                <th scope="col" class="text-center" style="width: 50%">Average Rating</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let avgRatingPerYear of avgRatingsPerYear">
                <td class="text-center" style="width: 50%">{{ avgRatingPerYear[0] }}</td>
                <td class="text-center" style="width: 50%">{{ avgRatingPerYear[1] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center" *ngIf="lineChartDataFetched">
            <ngx-charts-line-chart
              [view]="[1000, 400]"
              [results]="lineChartData"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Years'"
              [yAxisLabel]="'Average'"
              [yScaleMax]="5"
              [yScaleMin]="4"
            >
            </ngx-charts-line-chart>
          </div>
        </div>
        <div *ngIf="showBestCategories" class="mb-2">
          <div class="table-container mb-3">
            <table class="table table-dark table-striped table-hover">
              <thead>
              <tr>
                <th scope="col" class="text-center" style="width: 33.3%">Category</th>
                <th scope="col" class="text-center" style="width: 33.3%">Average Rating <i class="bi bi-arrow-down"></i>
                </th>
                <th scope="col" class="text-center" style="width: 33.3%">Sum</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let bestCategory of bestCategories">
                <td class="text-center" style="width: 33.3%">{{ bestCategory[0] }}</td>
                <td class="text-center" style="width: 33.3%">{{ bestCategory[1] }}</td>
                <td class="text-center" style="width: 33.3%">{{ bestCategory[2] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center" *ngIf="horizontalChartDataFetched">
            <ngx-charts-bar-horizontal
              [view]="[600, 800]"
              [results]="horizontalChartData"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Average Rating'"
              [yAxisLabel]="'Podcast Category'"
              [showDataLabel]="true"
              [xScaleMax]="5"
              [xScaleMin]="4"
            >
            </ngx-charts-bar-horizontal>
          </div>
        </div>
        <p style="text-align: right;">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle03 = !showArticle03"><i
            class="bi bi-arrow-90deg-up"></i> Close
          </button>
        </p>
      </div>
    </article><!-- Statistics -->

    <hr>

    <article class="blog-post mb-4"><!-- Blog-Post -->
      <h2 class="blog-post-title" id="wordClouds">Word Clouds</h2>
      <p class="blog-post-meta"><i class="bi bi-calendar"></i> April 14, 2021</p>
      <p *ngIf="!showArticle04">Word clouds are an excellent form of visualizing text data.</p>
      <p *ngIf="!showArticle04">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle04 = !showArticle04"><i
          class="bi bi-arrow-90deg-down"></i> Continue reading
        </button>
      </p>
      <div *ngIf="showArticle04">
        <p></p>
        <p>Word clouds are an excellent form of <span class="chip"
                                                      style="background-color: brown">visualizing text data</span>.
          They can identify the most used words within a document.
          I used it in this case for sentiment analysis and text mining, where I took measurements on a two-dimensional
          scale, more
          specifically <strong>positive and negative</strong> feelings and most <strong>common and rarest</strong>
          words.
          I did the calculations in a Jupyter Notebook, based on the following link: <a
            href="https://towardsdatascience.com/simple-wordcloud-in-python-2ae54a9f58e5" target="_blank">Simple Word
            Cloud in Python</a>,
          and then saved the results in the form of an image, which you can see below.</p>
        <p></p>
        <div class="row mt-4 mb-4">
          <div class="col text-center">
            <button type="button" class="btn btn-outline-primary" (click)="showCloud(0)">Positive Word Cloud <i
              *ngIf="!positiveCloud" class="bi bi-card-image"></i><i *ngIf="positiveCloud" class="bi bi-trash"></i>
            </button>
          </div>
          <div class="col text-center">
            <button type="button" class="btn btn-outline-primary" (click)="showCloud(1)">Negative Word Cloud <i
              *ngIf="!negativeCloud" class="bi bi-card-image"></i><i *ngIf="negativeCloud" class="bi bi-trash"></i>
            </button>
          </div>
          <div class="col text-center">
            <button type="button" class="btn btn-outline-primary" (click)="showCloud(2)">Common Word Cloud <i
              *ngIf="!commonCloud" class="bi bi-card-image"></i><i *ngIf="commonCloud" class="bi bi-trash"></i>
            </button>
          </div>
          <div class="col text-center">
            <button type="button" class="btn btn-outline-primary" (click)="showCloud(3)">Rarest Word Cloud <i
              *ngIf="!rarestCloud" class="bi bi-card-image"></i><i *ngIf="rarestCloud" class="bi bi-trash"></i>
            </button>
          </div>
        </div>
        <p class="text-center"><img *ngIf="positiveCloud" src="assets/data-visualization/clouds/positive_words.png"
                                    class="img-fluid img-thumbnail" width="1000" height="500"/></p>
        <p class="text-center"><img *ngIf="negativeCloud" src="assets/data-visualization/clouds/negative_words.png"
                                    class="img-fluid img-thumbnail" width="1000" height="500"/></p>
        <p class="text-center"><img *ngIf="commonCloud" src="assets/data-visualization/clouds/common_words.png"
                                    class="img-fluid img-thumbnail" width="1000" height="500"/></p>
        <p class="text-center"><img *ngIf="rarestCloud" src="assets/data-visualization/clouds/rarest_words.png"
                                    class="img-fluid img-thumbnail" width="1000" height="500"/></p>
        <p style="text-align: right;">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="showArticle04 = !showArticle04"><i
            class="bi bi-arrow-90deg-up"></i> Close
          </button>
        </p>
      </div>
    </article><!-- Word Clouds -->

  </div>

  <div class="col-md-3 mb-5">

    <!-- Logo -->
    <p class="text-center mb-3 mt-2">
      <img src="assets/home/cards/data-visualization-card.jpg" class="img-fluid rounded"/>
    </p>

    <!-- Posts -->
    <div class="p-4 mb-3 border rounded">
      <h4 class="fst-italic"><i class="bi bi-stickies-fill"></i> Posts</h4>
      <ol class="list-unstyled mb-0">
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/data-visualization#sourceData"> Source
          Data</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/data-visualization#podcasts">
          Podcasts</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/data-visualization#statistics">
          Statistics</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/data-visualization#wordClouds"> Word
          Clouds</a></li>
      </ol>
    </div>

    <!-- Useful Links -->
    <div class="p-4 mb-3 border rounded">
      <h4 class="fst-italic"><i class="bi bi-link-45deg"></i> Useful Links</h4>
      <ol class="list-unstyled mb-0">
        <li><i class="bi bi-arrow-right-short"></i><a href="https://oktnb132.inf.elte.hu:51026/" target="_blank"> SAP
          Backend Service</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="https://www.kaggle.com/thoughtvector/podcastreviews"
                                                      target="_blank"> Kaggle - Data Set</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a
          href="https://towardsdatascience.com/simple-wordcloud-in-python-2ae54a9f58e5" target="_blank"> Simple Word
          Cloud in Python</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/predictive-analytics"> Predictive
          Analytics</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/sap"> SAP - Environment</a></li>
        <li><i class="bi bi-arrow-right-short"></i><a href="http://localhost:4200/python"> Python - Environment</a></li>
      </ol>
    </div>

  </div>

</div>
